Mailer/Email - setReplyTo - should allow setting multiple recipients

This is a (multiple allowed):

* [ ] bug
* [x] enhancement
* [ ] feature-discussion (RFC)

* CakePHP Version: 3.8.13
* Platform and Target: 

Implementing custom Mailer i've noticed, that `setReplyTo(string|array $email, $name = null)` interface allows setting only one recipient in Reply-To header.

Per SO answer https://stackoverflow.com/a/48819373/492624 and RFC5322 (section 3.6.2) explicitly says it is allowed for reply-to to contain address-list (ie. multiple possible recipients)
```
3.6.2.  Originator Fields

   The originator fields of a message consist of the from field, the
   sender field (when applicable), and optionally the reply-to field.
   The from field consists of the field name "From" and a comma-
   separated list of one or more mailbox specifications.  If the from
   field contains more than one mailbox specification in the mailbox-
   list, then the sender field, containing the field name "Sender" and a
   single mailbox specification, MUST appear in the message.  In either
   case, an optional reply-to field MAY also be included, which contains
   the field name "Reply-To" and a comma-separated list of one or more
   addresses.

   from            =   "From:" mailbox-list CRLF

   sender          =   "Sender:" mailbox CRLF

   reply-to        =   "Reply-To:" address-list CRLF

   The originator fields indicate the mailbox(es) of the source of the
   message.  The "From:" field specifies the author(s) of the message,
   that is, the mailbox(es) of the person(s) or system(s) responsible
   for the writing of the message.  The "Sender:" field specifies the
   mailbox of the agent responsible for the actual transmission of the
   message.  For example, if a secretary were to send a message for
   another person, the mailbox of the secretary would appear in the
   "Sender:" field and the mailbox of the actual author would appear in
   the "From:" field.  If the originator of the message can be indicated
```

Please update the interface documentation and Cake\Mailer\Email class to allow setting multiple Reply-To addresses.

From what I understand, setting only sets the primary one.
But you can add as many as you want, see API, docs and docblocks: https://github.com/cakephp/cakephp/blob/master/src/Mailer/Mailer.php#L96-L98

Specifically 3.x branch https://github.com/cakephp/cakephp/blob/3.next/src/Mailer/Mailer.php#L90-L92
Function `setReplyTo` internally uses `_setEmailSingle` thus allowing only one recipient to be set with validation error, when multiple emails are provided, see https://github.com/cakephp/cakephp/blob/3.next/src/Mailer/Email.php#L477-L480

In 4.x branch it looks like the multiple Reply-To addresses are already allowed, see https://github.com/cakephp/cakephp/blob/master/src/Mailer/Message.php#L384-L387 (uses `setEmail` instead of `setEmailSingle` internally)

Sounds like you want to backport https://github.com/cakephp/cakephp/pull/15018 then.

Didn't found that one, and yes, that's exactly what I'd like to see, thank you :)

Backported in https://github.com/cakephp/cakephp/pull/15370